.App {
  text-align: center;
}
#navBar
{
  background-color:#77A6B4;
  color:white
}
/* signIn / signUp*/
#signIn{
  /* background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-blue-fresh-medical-hygiene-advertising-board-design-background-image_153562.jpg"); */
 background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-medical-medical-element-red-heart-red-cross-image_14511.jpg");
}
#signInForm button{
  background-color: #A00415;
  color:white;
}
#signInForm button, #signUpForm button, #illnesses button,#addPatient button{
  margin: auto;
}
#signUpForm button{
  background-color: #99D8EA;
  color:black;
}
#signInForm, #signUpForm{
  width: 30%;
  margin:auto;
}
#signUp, #signIn{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
}
#addPatientForm input, #signInForm input, #signUpForm input{
  margin: 5px;
}
#signUp{
 background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/65/17/3657add54e29bcb.jpg")

}
#accountExist{text-align: left;}

/* add patient */
.tab{
  background-color: #E28A67;
  /* background-color: #2F4252;
  color: */

}
#addPatient{
  /* background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-chinese-medical-day-simple-blue-doctors-image_14460.jpg'); */
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-medical-doctor-science-background-backgroundbackgrounddoctorsmedicalmedicinehealth-image_68227.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 99vh;
  text-align: center;
}
#addPatient .button {
  width: 20vh;
  float: right; 
  background-color: #E28A67;
}

#addPatient h3, #displayPatient h3{
  padding-top: 10vh;
}
.generalInformationForm >*{
  margin:5vh ;
}
#illnesses{
  opacity: 0.8;
  margin-top: 5vh;
}
#illnesses .button{
  margin-top: 2vh;

}
/* antecedent */

#antecedent #antForm{
display: block;
width: 60%;
margin:auto;
}
.groupButtons{
display: flex;
}

/* allergie */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
